{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur notre site</h1>
        <p>Page d'accueil avec un message générique.</p>
    </div>
{% endblock %}
