{# templates/history/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div class="container">
        <h1>Historique</h1>
        <p>Voici votre historique de génération de PDF.</p>
    </div>
{% endblock %}
