{# templates/subscription/change.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Changer d'abonnement{% endblock %}

{% block body %}
    <div class="container">
        <h1>Changer d'abonnement</h1>
        <p>Choisissez votre nouvel abonnement.</p>
    </div>
{% endblock %}
